mqtt:
  host: mqtt
  port: 1883
  topic_prefix: frigate
  user: mqtt_user
  password: mqtt_password
  client_id: frigate


# detectors:
#  onnx_one:
#    type: onnx

# model:
#  model_type: yolo-generic
#  input_tensor: nchw
#  input_dtype: float
#  labelmap_path: /config/yyy/coco-80.txt
#  path: /config/onnx/yolov9t_transposed.onnx
#  width: 640
#  height: 640








cameras:

  # cam-dbg1:
  #   enabled: true
  #   ffmpeg:
  #     inputs:
  #       - path: rtsp://rtsp-server:8554/live01
  #         roles:
  #           - detect
  #           - record
  #           - audio
  #     input_args:
  #       - -rtsp_transport
  #       - tcp
  #     output_args:
  #       detect: -f rawvideo -pix_fmt yuv420p -vf scale=1920:1080
  #   detect:
  #     enabled: true
  #     width: 1920
  #     height: 1080
  #     fps: 5
  #   motion:
  #     threshold: 40
  #     contour_area: 20
  #     improve_contrast: true

#   cam-dbg2:
#     enabled: false
#     ffmpeg:
#       inputs:
#         - path: rtsp://rtsp-server:8554/live02
#           roles:
#             - detect
#             - record
#             - audio
#       input_args:
#         - -rtsp_transport
#         - tcp
# #      output_args:
# #        detect: -f rawvideo -pix_fmt yuv420p -vf scale=1920:1080
#     detect:
#       enabled: false
#       width: 1920
#       height: 1080
#       fps: 5
#     motion:
#       threshold: 40
#       contour_area: 20
#       improve_contrast: true



  cam2:
    enabled: true
    ffmpeg:
      inputs:
        - path: 
            rtsp://admin:noname564@192.168.2.14:554/stream1
          roles:
            - detect
            - record
            - audio
      input_args:
        - -rtsp_transport
        - tcp
    detect:
      enabled: true
      width: 1280
      height: 720
      fps: 15
      annotation_offset: 0
    lpr:
      enabled: true
    motion:
      threshold: 30
      contour_area: 22
      improve_contrast: true
    zones: {}
    review: {}
    record:
      enabled: true
      retain:
        days: 3
        mode: motion
      alerts:
        retain:
          days: 30
          mode: motion
      detections:
        retain:
          days: 30
          mode: motion


  cam1:
    enabled: true
    ffmpeg:
      inputs:
        - path: 
            rtsp://admin:noname564@192.168.2.80:554/cam/realmonitor?channel=1&subtype=0
          roles:
            - detect
            - record
            - audio
      input_args:
        - -rtsp_transport
        - tcp
    detect:
      enabled: true
      width: 1280
      height: 720
      fps: 5
      annotation_offset: 0
    lpr:
      enabled: true
    motion:
      threshold: 30
      contour_area: 22
      improve_contrast: true
    zones: {}
    review: {}
    record:
      enabled: true
      retain:
        days: 3
        mode: motion
      alerts:
        retain:
          days: 30
          mode: motion
      detections:
        retain:
          days: 30
          mode: motion


tls:
  enabled: false

objects:
  track:
    - person
    - bicycle
    - car
    - truck
    - cat
    - dog
    - horse
    - sheep
    - cow
    - umbrella

review:
  alerts:
    enabled: true
    labels:
      - person
      - bicycle
      - car
      - truck
      - cat
      - dog
      - horse
      - sheep
      - cow
      - umbrella

  detections:
    enabled: true
    labels:
      - person
      - bicycle
      - car
      - truck
      - cat
      - dog
      - horse
      - sheep
      - cow
      - umbrella

record:
  enabled: true
  retain:
    days: 30
    mode: motion
  alerts:
    retain:
      days: 30
      mode: motion
  detections:
    retain:
      days: 30
      mode: motion

version: 0.16-0
semantic_search:
  enabled: true
  model_size: large
face_recognition:
  enabled: true
  model_size: large
lpr:
  enabled: true
classification:
  bird:
    enabled: false
