services:

  # ----------------------------------------------------------------------------------------------------------------------------------------
  frigate:
    image: ghcr.io/blakeblackshear/frigate:stable-tensorrt
    container_name: frigate
    hostname: frigate.rgzz
    restart: unless-stopped
    privileged: true
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    shm_size: "512mb"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    volumes:
      - ./config:/config
      - K:/frigate:/media/frigate
      - type: tmpfs
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "8971:8971"
      - "5000:5000"
      - "8554:8554"
      - "8555:8555/tcp"
      - "8555:8555/udp"

  # ----------------------------------------------------------------------------------------------------------------------------------------
  rtsp-server:
    image: bluenviron/mediamtx:latest
    container_name: rtsp-server
    restart: unless-stopped
    ports:
      - "9554:8554"

  # ----------------------------------------------------------------------------------------------------------------------------------------
  mqtt:
    hostname: mqtt.rgzz
    image: eclipse-mosquitto
    container_name: mqtt
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

  # ----------------------------------------------------------------------------------------------------------------------------------------
  stream1:
    image: jrottenberg/ffmpeg:latest
    container_name: ffmpeg-stream1
    depends_on:
      - rtsp-server
    volumes:
      - "./videos:/videos"
    command: [
      "-re",
      "-stream_loop",
      "-1",
      "-i",
      "/videos/vid001.mp4",
      "-f",
      "rtsp",
      "-rtsp_transport",
      "tcp",
      "rtsp://rtsp-server:8554/live01"
    ]

  # ----------------------------------------------------------------------------------------------------------------------------------------
  stream2:
    image: jrottenberg/ffmpeg:latest
    container_name: ffmpeg-stream2
    depends_on:
      - rtsp-server
    volumes:
      - "./videos:/videos"
    command: [
      "-re",
      "-stream_loop",
      "-1",
      "-i",
      "/videos/vid002.mp4",
      "-f",
      "rtsp",
      "-rtsp_transport",
      "tcp",
      "rtsp://rtsp-server:8554/live02"
    ]

  # ----------------------------------------------------------------------------------------------------------------------------------------
  postgres:
    hostname: postgres.rgzz
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: rgzz
      POSTGRES_USER: rgzz
      POSTGRES_INITDB_ARGS: --timezone=Europe/Moscow
      TZ: Europe/Moscow
    ports:
      - "5433:5432"
    volumes:
      - frigate_postgres_data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d

  # ----------------------------------------------------------------------------------------------------------------------------------------
  metabase:
    hostname: metabase.rgzz
    image: metabase/metabase:latest
    container_name: metabase
    restart: always
    depends_on:
      - postgres
    environment:
      JAVA_OPTS: "-Duser.timezone=Europe/Moscow"
    ports:
      - "3200:3000"
    volumes:
      - metabase_data:/metabase-data

volumes:
  frigate_postgres_data:
  metabase_data:

