services:

  # ----------------------------------------------------------------------------------------------------------------------------------------
  frigate:
    image: ghcr.io/blakeblackshear/frigate:stable-tensorrt
    container_name: frigate
    hostname: frigate.rgzz
    restart: unless-stopped
    privileged: true
    environment:
      NVIDIA_VISIBLE_DEVICES: all
    shm_size: "512mb"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    volumes:
      - ./config:/config
      - ${FRIGATE_MEDIA_PATH}:/media/frigate
      - type: tmpfs
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "8971:8971"
      - "5000:5000"
      - "8554:8554"
      - "8555:8555/tcp"
      - "8555:8555/udp"
    networks:
      - docker-network

  # ----------------------------------------------------------------------------------------------------------------------------------------
  rtsp-server:
    image: bluenviron/mediamtx:latest
    container_name: rtsp-server
    restart: unless-stopped
    ports:
      - "9554:8554"
    networks:
      - docker-network

  # ----------------------------------------------------------------------------------------------------------------------------------------
  mqtt:
    hostname: mqtt.rgzz
    image: eclipse-mosquitto
    container_name: mqtt
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    networks:
      - docker-network

  # ----------------------------------------------------------------------------------------------------------------------------------------
  stream1:
    image: jrottenberg/ffmpeg:latest
    container_name: ffmpeg-stream1
    depends_on:
      - rtsp-server
    volumes:
      - "./videos:/videos"
    command: [
      "-re",
      "-stream_loop",
      "-1",
      "-i",
      "/videos/vid001.mp4",
      "-f",
      "rtsp",
      "-rtsp_transport",
      "tcp",
      "rtsp://rtsp-server:8554/live01"
    ]
    networks:
      - docker-network

  # ----------------------------------------------------------------------------------------------------------------------------------------
  stream2:
    image: jrottenberg/ffmpeg:latest
    container_name: ffmpeg-stream2
    depends_on:
      - rtsp-server
    volumes:
      - "./videos:/videos"
    command: [
      "-re",
      "-stream_loop",
      "-1",
      "-i",
      "/videos/vid002.mp4",
      "-f",
      "rtsp",
      "-rtsp_transport",
      "tcp",
      "rtsp://rtsp-server:8554/live02"
    ]
    networks:
      - docker-network

  # ----------------------------------------------------------------------------------------------------------------------------------------
  postgres:
    hostname: postgres.rgzz
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: rgzz
      POSTGRES_USER: rgzz
      TZ: Europe/Moscow
    ports:
      - "5433:5432"
    volumes:
      - frigate_postgres_data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    networks:
      - docker-network

  # ----------------------------------------------------------------------------------------------------------------------------------------
  metabase:
    hostname: metabase.rgzz
    image: metabase/metabase:latest
    container_name: metabase
    restart: always
    depends_on:
      - postgres
    environment:
      JAVA_OPTS: "-Duser.timezone=Europe/Moscow"
      MB_CUSTOM_CSS: |
        .table-image img {
          width: 250px !important;
          height: auto !important;
          max-height: 250px !important;
          object-fit: contain !important;
        }
        td .table-image {
          min-width: 270px;
          max-width: 270px;
        }
        /* Опционально: улучшаем вид таблицы */
        td {
          vertical-align: middle !important;
        }
    ports:
      - "3200:3000"
    volumes:
      - ./metabase-data:/metabase.db
    networks:
      - docker-network

volumes:
  frigate_postgres_data:
  metabase_data:
  prometheus_data:

networks:
  docker-network:
    external: true
